<%- include("./partials/head")  %> 
<%- include("./partials/header") %>

    <!-- Div container, detalhando o produto a ser apresentado -->
    <div class="container">



        <!-- Fechamento div container -->
    </div>

<%- include("./partials/footer") %>