<%- include("./partials/head") %>
    <%- include("./partials/header") %>
        <div class="container">
            <main class="main-banner">
                <section id="banner">
                    <img class="amd" src="./img/amd.png" />
                    <img class="hyperx" src="./img/marca 1.png" />
                    <img class="red" src="./img/Wallpaper Redragon - BL Grey.png" />
                </section>

                <!-- <section id="containerHome">
                
                <ul class="branco">

                    <li class="produtos">
                        <div class="topo">
                            <p class="desconto">28%</p>
                            <p class="off">OFF</p>
                        </div>
                        <div class="interno">
                            <img class="b550" src="./img/01-placaMaeGigabyteB450AorusMDdr4CrossfireAm458797.jpg" />
                        </div>
                        <div class="texto">Placa Mãe Gigabyte B550M H, Chipset B550, AMD AM4, mATX, DDR4</div>
                        <div class="preco">
                            <p>De R$1000,00 por:</p>

                            <p class="valorTotal">R$720,00</p>
                            <p class="pg1">à vista</p>
                            <p class="pg2">12x de R$ 60,00 sem juros</p>
                        </div>
                    </li>

                    <li class="produtos">
                        <div class="topo">
                            <p class="desconto">28%</p>
                            <p class="off">OFF</p>
                        </div>
                        <div class="interno">
                            <img class="b550" src="./img/01-placaMaeGigabyteB450AorusMDdr4CrossfireAm458797.jpg" />
                        </div>
                        <div class="texto">Placa Mãe Gigabyte B550M H, Chipset B550, AMD AM4, mATX, DDR4</div>
                        <div class="preco">
                            <p>De R$1000,00 por:</p>

                            <p class="valorTotal">R$720,00</p>
                            <p class="pg1">à vista</p>
                            <p class="pg2">12x de R$ 60,00 sem juros</p>
                        </div>
                    </li>

                    <li class="produtos">
                        <div class="topo">
                            <p class="desconto">28%</p>
                            <p class="off">OFF</p>
                        </div>
                        <div class="interno">
                            <img class="b550" src="./img/01-placaMaeGigabyteB450AorusMDdr4CrossfireAm458797.jpg" />
                        </div>
                        <div class="texto">Placa Mãe Gigabyte B550M H, Chipset B550, AMD AM4, mATX, DDR4</div>
                        <div class="preco">
                            <p>De R$1000,00 por:</p>

                            <p class="valorTotal">R$720,00</p>
                            <p class="pg1">à vista</p>
                            <p class="pg2">12x de R$ 60,00 sem juros</p>
                        </div>
                    </li>

                    <li class="produtos">
                        <div class="topo">
                            <p class="desconto">28%</p>
                            <p class="off">OFF</p>
                        </div>
                        <div class="interno">
                            <img class="b550" src="./img/01-placaMaeGigabyteB450AorusMDdr4CrossfireAm458797.jpg" />
                        </div>
                        <div class="texto">Placa Mãe Gigabyte B550M H, Chipset B550, AMD AM4, mATX, DDR4</div>
                        <div class="preco">
                            <p>De R$1000,00 por:</p>

                            <p class="valorTotal">R$720,00</p>
                            <p class="pg1">à vista</p>
                            <p class="pg2">12x de R$ 60,00 sem juros</p>
                        </div>
                    </li>

                    <li class="produtos">
                        <div class="topo">
                            <p class="desconto">28%</p>
                            <p class="off">OFF</p>
                        </div>
                        <div class="interno">
                            <img class="b550" src="./img/01-placaMaeGigabyteB450AorusMDdr4CrossfireAm458797.jpg" />
                        </div>
                        <div class="texto">Placa Mãe Gigabyte B550M H, Chipset B550, AMD AM4, mATX, DDR4</div>
                        <div class="preco">
                            <p>De R$1000,00 por:</p>

                            <p class="valorTotal">R$720,00</p>
                            <p class="pg1">à vista</p>
                            <p class="pg2">12x de R$ 60,00 sem juros</p>
                        </div>
                    </li>

                    <li class="produtos">
                        <div class="topo">
                            <p class="desconto">28%</p>
                            <p class="off">OFF</p>
                        </div>
                        <div class="interno">
                            <img class="b550" src="./img/01-placaMaeGigabyteB450AorusMDdr4CrossfireAm458797.jpg" />
                        </div>
                        <div class="texto">Placa Mãe Gigabyte B550M H, Chipset B550, AMD AM4, mATX, DDR4</div>
                        <div class="preco">
                            <p>De R$1000,00 por:</p>

                            <p class="valorTotal">R$720,00</p>
                            <p class="pg1">à vista</p>
                            <p class="pg2">12x de R$ 60,00 sem juros</p>
                        </div>
                    </li>

                </ul>
            </section> -->
            </main>
            <!-- Conteúdo de área dos produtos -->
            <div class="area-product-home col-xs-12 col-sm-12 col-md-12">
                <!-- Div responsável pelos card-deck dos produtos -->
                <div class="card-deck">
                    <!-- Dividindo o conteúdo em 3 colunas -->
                    <div class="product-card-listing col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <a href="./productDetail">
                                <img class="card-img-top-listing product-image-listing"
                                    src="../img/01-placaMaeGigabyteB450AorusMDdr4CrossfireAm458797.jpg"
                                    alt="Imagem de capa do card">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">Placa Mãe Gigabyte B450 AORUS M, Chipset B450, AMD AM4, mATX,
                                    DDR4
                                </h5>
                                <p class="card-text">
                                    <span class="sale-price">R$ 209,90</span>
                                    <small class="form-payment">à vista no boleto</small>
                                </p>
                            </div>
                        </div>
                        <!-- Fechamento da tag col-sm-6 col-md-3 -->
                    </div>

                    <!-- Dividindo o conteúdo em 3 colunas -->
                    <div class="product-card-listing col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <img class="card-img-top-listing product-image-listing"
                                src="../img/02-upgrade1277142961.jpg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Kit Upgrade AMD Ryzen 5 4600G + Placa Mãe B450 + 8GB DDR4
                                </h5>
                                <p class="card-text">
                                    <span class="sale-price">R$ 1.590,90</span>
                                    <small class="form-payment">à vista no boleto</small>
                                </p>
                            </div>
                        </div>
                        <!-- Fechamento da tag col-sm-6 col-md-3 -->
                    </div>

                    <!-- Dividindo o conteúdo em 3 colunas -->
                    <div class="product-card-listing col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <img class="card-img-top-listing product-image-listing"
                                src="../img/03-placaMaeAsrockB450mSteelLegendChipsetB450AmdAm4MatxDdr4127135.jpeg"
                                alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Placa Mãe ASRock B450M Steel Legend, Chipset B450, AMD AM4,
                                    mATX,
                                    DDR4
                                </h5>
                                <p class="card-text">
                                    <span class="sale-price">R$ 714,90</span>
                                    <small class="form-payment">à vista no boleto</small>
                                </p>
                            </div>
                        </div>
                        <!-- Fechamento da tag col-sm-6 col-md-3 -->
                    </div>

                    <!-- Dividindo o conteúdo em 3 colunas -->
                    <div class="product-card-listing col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <img class="card-img-top-listing product-image-listing"
                                src="../img/04-upgrade1039138732.jpg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Kit Upgrade AMD Ryzen 5 5600G + Placa Mãe B450</h5>
                                <p class="card-text">
                                    <span class="sale-price">R$ 1.769,00</span>
                                    <small class="form-payment">à vista no boleto</small>
                                </p>
                            </div>
                        </div>
                        <!-- Fechamento da tag col-sm-6 col-md-3 -->
                    </div>


                    <!-- Dividindo o conteúdo em 3 colunas -->
                    <div class="product-card-listing col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <img class="card-img-top-listing product-image-listing"
                                src="../img/04-upgrade1039138732.jpg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Kit Upgrade AMD Ryzen 5 5600G + Placa Mãe B450</h5>
                                <p class="card-text">
                                    <span class="sale-price">R$ 1.769,00</span>
                                    <small class="form-payment">à vista no boleto</small>
                                </p>
                            </div>
                        </div>
                        <!-- Fechamento da tag col-sm-6 col-md-3 -->
                    </div>


                    <!-- Dividindo o conteúdo em 3 colunas -->
                    <div class="product-card-listing col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <img class="card-img-top-listing product-image-listing" src="/img/04-upgrade1039138732.jpg"
                                alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Kit Upgrade AMD Ryzen 5 5600G + Placa Mãe B450</h5>
                                <p class="card-text">
                                    <span class="sale-price">R$ 1.769,00</span>
                                    <small class="form-payment">à vista no boleto</small>
                                </p>
                            </div>
                        </div>
                        <!-- Fechamento da tag col-sm-6 col-md-3 -->
                    </div>


                    <!-- Dividindo o conteúdo em 3 colunas -->
                    <div class="product-card-listing col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <img class="card-img-top-listing product-image-listing" src="/img/04-upgrade1039138732.jpg"
                                alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Kit Upgrade AMD Ryzen 5 5600G + Placa Mãe B450</h5>
                                <p class="card-text">
                                    <span class="sale-price">R$ 1.769,00</span>
                                    <small class="form-payment">à vista no boleto</small>
                                </p>
                            </div>
                        </div>
                        <!-- Fechamento da tag col-sm-6 col-md-3 -->
                    </div>


                    <!-- Dividindo o conteúdo em 3 colunas -->
                    <div class="product-card-listing col-xs-12 col-sm-6 col-md-3">
                        <div class="card">
                            <img class="card-img-top-listing product-image-listing" src="/img/04-upgrade1039138732.jpg"
                                alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Kit Upgrade AMD Ryzen 5 5600G + Placa Mãe B450</h5>
                                <p class="card-text">
                                    <span class="sale-price">R$ 1.769,00</span>
                                    <small class="form-payment">à vista no boleto</small>
                                </p>
                            </div>
                        </div>
                        <!-- Fechamento da tag col-sm-6 col-md-3 -->
                    </div>
                    <!-- Fechamento da div responsável pelos card-deck dos produtos -->
                </div>
                <!-- Fechamento da div area-product -->
            </div>
        </div>
        <%- include("./partials/footer") %>