.container {
    max-width: 100%;
}
.carousel-inner > .carousel-item > img {
    height: 450px; 
  }
.meuPC {
    margin: -12px 0 20px 20px;
}

.linhaContainer {
    margin-right: -15px;
    margin-left: -15px;
}

.main-banner {
    width: 100%;
    height: 100%;
    font-family: arial;
    font-size: 12px;
    background-color: black;
    color: white;
}
.title-buy-brand{
    margin-top: 15px;
    margin-bottom: 15px;
}
.image-banner{
    position:static;
}
.card-img-car-buy-brand{
    display: flex;
    justify-content: flex-end;
}
.img-buy-brand, .img-car-buy-brand{
    border-radius: 8px;
    max-width: 235px;
    max-height: 141px;
    margin-bottom: 15px;
}
.img-car-buy-brand:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
#banner {
    margin: 5% 3% 3% 3%;
    justify-content: space-between;
    display: flex;
}

.amd {
    height: 100%;
    width: 25.5%;
    transition: all 0.3s ease-in 0.5s;
    position: relative;
}

.hyperx {
    height: 100%;
    width: 30%;
    transition: all 0.3s ease-in 0.5s;
    position: relative;
}

.red {
    height: 100%;
    width: 30%;
    transition: all 0.3s ease-in 0.5s;
    position: relative;
}

.red:hover {
    height: 550px;
    width: 550px;
    cursor: pointer;
}

.amd:hover {
    height: 550px;
    width: 550px;
    cursor: pointer;
}

.hyperx:hover {
    height: 550px;
    width: 550px;
    cursor: pointer;
}

.card-home {
    min-height: 100%;
    border-radius: 15px;
}
.col-product-home-pag{
    margin-right: -5%;
}


