body {
    z-index: 60;
    position: relative;
    background: #ebebeb;
    /* margin: 0 -20px; */
    padding: 0 0 30px 0;
    min-height: 600px;
}

.headerFull {
    width: 100%;
    background-color: #222;
    height: 60px;
    margin: -9px 0 0 0;
    border-bottom: 2px solid #ff5800;
}

.containerFluid {
    width: 84.9%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.smallLogo {
    padding: 0 10px 0 0;
    margin: 0;
    float: left;
    /* max-width: 15%; */
    height: 60px;
    display: flex;
    align-items: center;
}

.smallLogo a {
    display: block;
    float: left;
    padding: 0;
}

.smallLogo img {
    float: right;
    width: 100%;
    height: 45px;
    padding-top: 8px;
}
.menuNavegation {
    position: relative;
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0 0 0 10px;
    /* width: 80%; */
    float: left;
    /* height: 58px; */
    border-left: 1px solid #000;
}
.menuList {
    text-align: left;
    margin: 0 auto 0 auto;
    width: 100%;
    display: block;
    padding: 0;
}
.menuList>li.shoppingCart {
    float: right;
    clear: right;
}
.menuList>li {
    text-align: center;
    display: block;
    padding: 0;
    float: left;
    margin: -5px 0;
}
.menuList>li.shoppingCart a{
    padding: 5px 27px 0 22px;
    text-align: center;
    border-left: 1px solid #191919;
    height: 58px;
    top: 5px;
}
.menuList>li.shoppingCart>a .fa.fa-shopping-cart{
    display: inline-block;
    font-size: 22px;
    line-height: inherit;
    margin-right: -5px;
    color: #fff;
}
.shoppingAccount {
    float: right;
}
.menuSubMenu li {
    position: relative;
    padding: 15px;
    margin: 0;
    display: block;
}
.menuSubMenu li a {
    color: #fff;
    text-align: left;
    display: block;
    line-height: 22px;
    padding: 8px 12px;
    text-transform: none;
    font-size: 12px;
    letter-spacing: normal;
    border-right: 0 solid;
}
@media (max-width: 769px) {
    .smallLogo img {
        width: 10%;
    }
}