* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #425068}; 


main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

#container-login {
  width: 450px;
  height: 600px;
  background-color: #e43131;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 30px;

}

#container-login h2,
#container-signup h2 {
  font-size: 2em;
  color: #3e619b
}

#container-login form,
#container-signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-input {
  width: 100%;

}


#container-signup input.input_field {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin: 10px 0;
}

.container-input {
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
.link {
  color: #ef4b4c;
}
.link:hover {
  color: #e9e9eb;
}


.checkbox input {
  height: 100%
}

.checkbox-container {
  display: flex;
  
}



.formulario {
  width: 70%;
  background-color: #3e619b;
  position: relative;
  top: 5px;
  left: 10px;
}



#imagem-login {
  height: 20%;
  background-color: #ef4b4c;
  width: 30%;
  position: relative;
  bottom: 20px;
}

#lembrar {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 20px;
  bottom: 5px;
}


#senha {
  position: relative;
  left: 5px;



}

hr {
  width: 100%;
  position: relative;
  bottom: 4px;
  color: black;
  top: 2px;

}

.h2-login {
  font-family: cursive;
  padding: 10px 60px;

}

input {
  height: 30px;
  padding: 10px;
  margin: 10px;
}