/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
/* Estilizado o cabeçalho */
header {
    background-color: #d60606da;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 10px 4px 5px #9c0606da ; */
}
/* Estilizado o título do cabeçalho */
.tituloProduto {
    margin-top: 5px;
    display: inline-flex;
    font-size: 200%;
    color: #000000;
    
}
/* Estilizado os hr (traços) no cabeçalho */
.marcacaoLinha {
    width: 30px;
    border: 2px solid;
    margin: 6px 40px;
    color: #000000;
}
/* Estilizando a sessão do produto príncipal */
#colEsquerda {
    display: inline-flex;
    padding: 20px;
    margin: 10px;
}
/* Estilizando classe .informacaoProduto */
.informacaoProduto {
    font-weight:900;
}

/* Estilizando a classe .linhaDivisora */
.linhaDivisora {
    margin: 5px;
}
/* Estilizando o ID colCentral */
#colCentral {
    margin-left: 15px;
    padding: 20px;
    border: 2px solid #d6060696;
    border-radius: 8px;
}

/* Estilizando a classe .tabelaInformacaoProduto */
.tabelaInformacaoProduto {
    text-align: left;
}
/* Estilizando a classe .detalhesProdutos */
.detalhesProdutos {
    padding: 20px;
    text-align: justify;
}

/* Estilizando classe .tituloDetalhesProduto */
.tituloDetalhesProduto{
    border-bottom: 2px solid #d6060696;
}

.cabecalhoDetalhesProdutos{
    background-color: #f3f3f3;
    padding: 5px;
    border-top: 1px solid #d60606ce;
    font-weight: 400
    /* border-radius: 4px; */
    
}

/* Estilizando o rodapé - footler */
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d60606da;;
    height: auto;
    width: 100%;
    padding-top: 40px;
    
}
/* A cor do parágrafo contido dentro do */
#rodapeMidiasSociais p{
    color: #000000;
    max-width: 1200px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
/*Estilizando o ID rodapeMidiasSociais*/
#rodapeMidiasSociais {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    word-spacing: 2px;
    text-transform: capitalize;
}
/* Estilizando os itens da classe social, centralizando, diranto o estilo padrão */
.midiasSociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}
/* Na classe midiasSociais e nas listas, margem de 0 superior e inferior 0 e nas laterais em 10px */
.midiasSociais li {
    margin: 0 10px;
}
/* Estilizando os links contidos dentro da classe a */
.midiasSociais a{
    text-decoration: none;
    color: #000000;
}
/* As fontes e a transição nos links dentro dos links, com tamanho de 1.1rem e com transição suave de .1s */
.midiasSociais a i {
    font-size: 1.1rem;
    transition: color .1s ease;
}
/* Cor ao passar o mouse sobre o link contido na classe midiasSociais */
.midiasSociais a:hover{
    color: #8a0606;
}

