#user-data {
    background: #42506bd9;
}
.user-data-container{
    margin-top: 40px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #3E619B
}
.rounded-circle {
    margin-left: 50%;
    margin-bottom: 15px;
}
.profile-button {
    background: #EF4B4C;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #f02d2d;
}

.profile-button:focus {
    background: #3E619B;
    box-shadow: none
}

.profile-button:active {
    background: #3E619B;
    box-shadow: none
}

.back:hover {
    color: #3E619B;
    cursor: pointer
}

.labels {
    font-size: 11px
}