* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    /* background-color: #333; */
}
header {
    float: left;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    top: 0px;
    /* border-top: 1px solid #000; */
}
.logoPequeno {
    width: 100%;
    background-color: #333;
    height: 60px;
    margin: 0;
    border-bottom: 2px solid #000;
}

#logoMyBrand {
    margin: 5px 0 0 120px;
}

#logoMyBrand {
    width: 120px;
    height: 50;
}
.inputPesquisar {
    float: left;
    top: 0;
    left: 60px;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0 1px;
    text-indent: 15px;
    font-size: 12px;
    height: 36px;
    z-index: 2;
    outline: 0;
    color: #000;
    font-size: 16px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}
.botaoPesquisar {
    top: 0px;
    /* margin: 10px 0px; */
    bottom: 0px;
    width: 60px;
    height: 36px;
    /* line-height: 30px; */
    cursor: pointer;
    color: #fff;
    z-index: 1000;
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
}
.comprasDepartamento::after {
    right: 17px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.comprasDepartamento::before {
    right: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.comprasDepartamento::after, 
.comprasDepartamento::before {
    border: 1px solid #fff;
    content: "";
    position: absolute;
    top: 58%;
    transition: .1s ease all;
    -webkit-transition: .1s ease all;
    width: 10px;
}

.menuNavegacao {
    list-style: none;
    /* border: 1px solid #f00; */
    float: right;
    margin-top: 15px;
}
.menuNavegacao li{
    position: relative;
    float: left;
    /* border-right: 1px solid #f00; */
}
.menuNavegacao a{
    color:#fff; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
    margin: 0 20px;
}
.menuNavegacao li ul {
    position:absolute;
    top:25px;
    left:0;
    background-color:#333;
    display:none;
    border-radius: 5px;
    border: 2px solid #000;
}
.menuNavegacao li:hover ul, .menuNavegacao li.over ul{
    display: block;
}
.menuNavegacao li ul li {
    /* border:1px solid #f00; */
    display:block;
    width:150px;
}



.meuPC {
    margin: -12px 0 20px 20px;
}
.linhaContainer{
    margin-right: -15px;
    margin-left: -15px;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #42506B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-1{
    color: #EF4B4C;
    font-size: 3vw;
}
.left-login-img{
    width: 25vw;
}
.title-2{
    color:#EF4B4C;
    font-weight: 800;
    margin: 0;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #3E619B;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.input-1,
.input-2{
width: 100%;
border: none;
border-radius: 10px;
padding: 15px;
background-color: #365381;
color: #E9E9EB;
font-size: 12pt;
box-shadow: 0px 10px 40px #00000056;
box-sizing: border-box;
font-size: 12pt;
outline: none;
}
.label-1,
.label-2{
    color: #E9E9EB;
    margin-bottom: 10px;
    font-size: 14pt;
}
.input-1::placeholder,
.input-2::placeholder{
color: #e9e9eb60;
font-size: 10pt;
}
.button-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    color: #3E619B;
    background-color: #EF4B4C;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #EF4B4C;
}
/* Menu lateral */
#painelUsuario{
    display: flex;
    justify-content: center;
}

#bemVindo{
    background-color: #3f5fa3;
    position: absolute;
    width: 191px;
    height: 100px;
    margin: 15px;
    top: 115px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 0.5em #0f172e;
}
#bemVindo p{
    display: block;
    position: relative;
    bottom: 80px;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    background-color: #375382;
    border-radius: 10px;
}

#bemVindo .foto{
    position: relative;
    bottom: 80px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
    border: 10px solid #3f5fa3;
}

.menu{
    display: flex;
    width: 80%;
    margin-top: 100px;
    position: relative;
}
#painelUsuario .itemMenu{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    position: relative;
    top: 230px;
    /* left: 15px; */
    list-style: none;
    background-color: #3f5fa3;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 0.5em #0f172e;
}

#painelUsuario .itemMenu a{
    text-decoration: none;
    color: white;
}
#painelUsuario .itemMenu:hover{
    background-color: #ef4b4c;
    cursor: pointer;
}

/* Conteudo Cadastro Usuario */
#conteudoUsuario{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    justify-content: space-evenly;
  
}
#conteudoUsuario .container{ 
    align-self: center;
    position: relative;
    left: 30px;
    background-color: white;
    margin: 15px;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 1em #0f172e;
    display: flex;
    justify-content: center;
    
}

.tituloConteudo{
    background-color: #375382;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
}

.conteudoCadastro, .container-tabela{
    background-color: #3f5fa3;
    width: 95%;
    height: 200px;
    position: absolute;
    top: 41px;
    left: 30px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    
}

#cadastro .conteudoCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#cadastro .conteudoCadastro .container-input{
    width: 50%;
    align-items: center;

}

#cadastro .conteudoCadastro .container-input1{
    display: inline-flex;
    width: 40%;
}

#cadastro .conteudoCadastro .botaoSalvar{
    align-items: center;
    width: 20%;
    
}

#cadastro .conteudoCadastro .botaoSalvar button{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #ef4b4c;
    cursor: pointer;
    font-size: 1.05rem;

}
#cadastro .conteudoCadastro .botaoSalvar button:hover{
    background-color: #ef4b4c;
    color: white;
    
}

/* Alterar foto do perfil */

#conteudoUsuario .containerFoto{
    align-self: center;
    position: relative;
    left: 30px;
    background-color: white;
    margin: 15px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 1em #0f172e;
    display: flex;
    justify-content: center;
}

#fotoPerfil .conteudoFoto{
    background-color: #3f5fa3;
    width: 95%;
    height: 50px;
    position: absolute;
    top: 60px;
    left: 30px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email {
    margin-right: 25px;
    padding-right: 20px;
    padding-left: 30px;
}

#cpf {
    padding: 0 0;
}

#fotoPerfil .conteudoFoto .container-input{
    width: 50%;
    align-items: center;

}

#fotoPerfil .conteudoFoto .botaoSalvar{
    position: relative;
    right: 550px;
    width: 10%;
    
}


#fotoPerfil .conteudoFoto .botaoSalvar button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #ef4b4c;
    cursor: pointer;
    font-size: 1.05rem;
    background-color:#ef4b4c;
    margin-top: 90px;
    margin-left: 60px;

}

#fotoPerfil .conteudoFoto .botaoSalvar button:hover{
    background-color: #ef4b4c;
    color: white;
    
}

/* Histórico de pedidos */

#conteudoUsuario form input {
    width: 70%;
    height: 25px;
    padding: 0 10px;
}
#conteudoUsuario .container .container-tabela{
    height: 150px;
    
}
.container-tabela{
    background-color: #3f5fa3;
    width: 95%;
    /* height: 280px; */
    position: absolute;
    top: 60px;
    left: 30px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pedidos .tabelaPedidos{
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
}

/* Meus endereços */

#endereco .tabelaEndereco{
  width: 90%;
  cursor: pointer;
    
}
.tabelaPedidos table, th, td{
    /* width: 50%; */
    border: 1px solid white;
    border-collapse: collapse;
}

tr{
    background-color: white;
    color: #375382;
    height: 20px;

}
tr:hover{
    background-color: #3f5fa3;
    color: white;
}

