body{
    background-color: #e9e9e9;
}
.card-image {
    margin-top: -10px;
    margin-left: 6%;
}
/* Caminho da navegação */
.navigation-path{
    margin-top: 20px;
    background-color: #fff;
}
/* Estilizando a classe wrap-product*/
.wrap-product{
    padding: 15px 20px 15px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #fff;
}
/* Estilizando o conteúdo do produto */
.product-detail {
    color: #fff;
    background-color: #3e619b;
    padding: 90px 50px;
    border-radius: 10px;
}
/* Conteúdo do produto */
.content-product h1{
    font: 18px "Open Sans",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
/* Estilizando a imagem do produto */
.product-image{
    height: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    border: 0;
}
/* Estilizando o id do código do produto */
#code-product {
    font: 12px/20px "Open Sans",Arial,Helvetica,sans-serif;
    color: #f1f1f1;
    width: 100%;
    margin: 4px 0 0 0;
    display: block;
    text-align: left;
}
/* Estilizando características do produto  */
.product-features {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.card-img-top {
    width: 100%;
    height: 100%;
    padding-left: 20%;
    margin-left: 40px;
}
/* Estilizando a classe card-white */
.card-white {
    border: none;

}
/* Estilizando a classe card-black */
.card-black {
    border: none;
    background-color: #000000;
    color: #e9e9e9;
    border-radius: 5px;
    padding: 5px;
}
/* Estilizando title-suggestions */
#title-suggestions {
    margin: 12px;
}

.suggestions{
    margin-bottom: 20px;
}
/* Estilizando a classe de cad-suggestions */
.cad-suggestions{
    padding: 10px;
    margin: 20px;
}
