<%- include("./partials/head") %>
    <%- include("./partials/header") %>

        <!-- Imagem do card - Produto a ser apresentado -->

        <div class="card card-brand-banner-intel">
            <img class="card-img-bottom card-image-brand-intel"
                src="./img/buy-brand/04-intel/01-intel-core-i3.jpg" alt="Imagem de capa do card">
        </div>

        <!-- Div container, detalhando o produto a ser apresentado -->
        <div class="container">
            <!-- Div contendo o logo da marca -->
            <div class="navbar navbar-light official-brand-intel">
                <img src="./img/buy-brand/04-intel/02-intel-logo.jpeg" alt="Imagem do logo da intel">
                <!-- Div contendo o nome da marca -->
                <div class="sub-official-brand-intel">Intel</div>
            </div>

            <!-- Divisão para trabalharmos com a responsividade do bootstrap -->
            <div class="row">
                <!-- Filtrar por preços -->
                <div class="filters-brand-intel col-xs-12 col-sm-12 col-md-12">
                    <div class="filterbox-intel dropdown">
                        <!-- Botões para ordenar os preços -->
                        <button id="btn-for-orderby-intel" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fa fa-exchange fa-rotate-90 " aria-hidden="true"></span>
                            Ordenar por
                            <span class="arrow-buy-intel"></span>
                        </button>
                        <div class="dropdown-menu dropdown-for-orderby-intel" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/brand/intel" data-pg="1" data-order="preco_asc"
                                data-manufacturer="0">Menor Preço</a>
                            <a class="dropdown-item" href="/brand/intel" data-pg="1" data-order="preco_desc"
                                data-manufacturer="0">Maior Preço</a>
                        </div>
                    </div>

                    <!-- Fechamento da classe filters-brand-intel -->
                </div>
            
                <!-- Fechamento da class row -->
            </div>

            <!-- Div do card do produto da marca específicada-->
            <div class="card bg-light mb-3 card-main-brand-intel">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-intel">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-intel">
                        <div>40%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-intel-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-intel">
                    <img class="image-brand-intel-list" src="./img/buy-brand/04-intel/product's/01-computador-t-moba-easypc-i7-2600-8gb-hd-1tb-gtx-1050ti-500w-kit-fan-rgb_106251.jpg"
                        alt="Imagem da Placa Mãe">
                </div>
                <div class="description-promotion-brand-intel">
                    <h2 class="description-title-promotion-brand-intel">
                        Computador T-Home EasyPC Intel i7 / 8GB / HD 1TB / GTX 1050TI / Kit Fan RGB
                    </h2>

                    <div class="label-product-brand-intel">
                        <div class="mais-vendidas-intel">
                            1º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-intel">
                        <div class="product-new-price-intel">
                            <span>R$ 3.599,00</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <button type="button" class="btn btn-success add-cart-shopping-brand-intel">Adicionar ao Carrinho</button>
                </div>
            </div>

            <div class="card bg-light mb-3 card-main-brand-intel">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-intel">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-intel">
                        <div>36%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-intel-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-intel">
                    <img class="image-brand-intel-list" src="./img/buy-brand/04-intel/product's/02-cooler-para-processador-gamdias-boreas-e1-410-lite-rgb-120mm-intel-amd_138159.jpg"
                        alt="Imagem da Placa Mãe">
                </div>
                <div class="description-promotion-brand-intel">
                    <h2 class="description-title-promotion-brand-intel">
                        Cooler para Processador Gamdias Boreas E1-410 LITE, RGB, 120mm, Intel-AMD
                    </h2>

                    <div class="label-product-brand-intel">
                        <div class="mais-vendidas-intel">
                            1º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-intel">
                        <div class="product-new-price-intel">
                            <span>R$ 99,99</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <button type="button" class="btn btn-success add-cart-shopping-brand-intel">Adicionar ao Carrinho</button>
                </div>
            </div>

            <div class="card bg-light mb-3 card-main-brand-intel">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-intel">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-intel">
                        <div>29%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-intel-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-intel">
                    <img class="image-brand-intel-list" src="./img/buy-brand/04-intel/product's/03-cooler-para-processador-deepcool-gammaxx-400-v2-blue-120mm-intel-amd-dp-mch4-gmx400v2-bl_105465.jpg"
                        alt="Imagem da Placa Mãe">
                </div>
                <div class="description-promotion-brand-intel">
                    <h2 class="description-title-promotion-brand-intel">
                        Cooler para Processador DeepCool Gammaxx 400 V2 Blue, 120mm, Intel-AMD, DP-MCH4-GMX400V2-BL
                    </h2>

                    <div class="label-product-brand-intel">
                        <div class="mais-vendidas-intel">
                            2º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-intel">
                        <div class="product-new-price-intel">
                            <span>R$ 129,90</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <button type="button" class="btn btn-success add-cart-shopping-brand-intel">Adicionar ao Carrinho</button>
                </div>
            </div>

            
            <div class="card bg-light mb-3 card-main-brand-intel">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-intel">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-intel">
                        <div>24%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-intel-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-intel">
                    <img class="image-brand-intel-list" src="./img/buy-brand/04-intel/product's/05-processador-intel-core-i3-10100f-360ghz-430ghz-turbo-10-geracao-4-cores-8-threads-lga-1200-s-video-bx8070110100f_124883.jpg"
                        alt="Imagem da Placa Mãe">
                </div>
                <div class="description-promotion-brand-intel">
                    <h2 class="description-title-promotion-brand-intel">
                        Processador Intel Core i3 10100F 3.60GHz (4.30GHz Turbo), 10ª Geração, 4-Cores 8-Threads, LGA 1200, S/
                    </h2>

                    <div class="label-product-brand-intel">
                        <div class="mais-vendidas-intel">
                            1º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-intel">
                        <div class="product-new-price-intel">
                            <span>R$ 499,00</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <button type="button" class="btn btn-success add-cart-shopping-brand-intel">Adicionar ao Carrinho</button>
                </div>
            </div>


            <div class="card bg-light mb-3 card-main-brand-intel">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-intel">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-intel">
                        <div>15%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-intel-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-intel">
                    <img class="image-brand-intel-list" src="./img/buy-brand/04-intel/product's/06-placa-mae-asrock-h610m-hdvm2-chipset-h610-intel-lga-1700-atx-ddr4-90-mxbh60-a0uayz_141533.jpg"
                        alt="Imagem da Placa Mãe">
                </div>
                <div class="description-promotion-brand-intel">
                    <h2 class="description-title-promotion-brand-intel">
                        Placa Mãe ASRock H610M-HDV/M.2, Chipset H610, Intel LGA 1700, ATX, DDR4, 90-MXBH60-A0UAYZ
                    </h2>

                    <div class="label-product-brand-intel">
                        <div class="mais-vendidas-intel">
                            1º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-intel">
                        <div class="product-new-price-intel">
                            <span>R$ 219,99</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <button type="button" class="btn btn-success add-cart-shopping-brand-intel">Adicionar ao Carrinho</button>
                </div>
            </div>

            <div class="card bg-light mb-3 card-main-brand-intel">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-intel">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-intel">
                        <div>41%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-intel-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-intel">
                    <img class="image-brand-intel-list" src="./img/buy-brand/04-intel/product's/07-watercooler-corsair-hydro-series-h45-cw-9060028-ww_30659.webp"
                        alt="Imagem da Placa Mãe">
                </div>
                <div class="description-promotion-brand-intel">
                    <h2 class="description-title-promotion-brand-intel">
                        Water cooler Corsair H45, 120mm, Intel-AMD, CW-9060028-WW 
                    </h2>

                    <div class="label-product-brand-intel">
                        <div class="mais-vendidas-intel">
                            1º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-intel">
                        <div class="product-new-price-intel">
                            <span>R$ 199,00</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <button type="button" class="btn btn-success add-cart-shopping-brand-intel">Adicionar ao Carrinho</button>
                </div>
            </div>

            <div class="card bg-light mb-3 card-main-brand-intel">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-intel">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-intel">
                        <div>20%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-intel-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-intel">
                    <img class="image-brand-intel-list" src="./img/buy-brand/04-intel/product's/08-placa-mae-biostar-h410mh-ver-60-chipset-h410-intel-1200-matx-ddr4_96512.webp"
                        alt="Imagem da Placa Mãe">
                </div>
                <div class="description-promotion-brand-intel">
                    <h2 class="description-title-promotion-brand-intel">
                        Placa Mãe Biostar H410MH VER 6.0, Chipset H410, Intel 1200, mATX, DDR4
                    </h2>

                    <div class="label-product-brand-intel">
                        <div class="mais-vendidas-intel">
                            2º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-intel">
                        <div class="product-new-price-intel">
                            <span>R$ 469,99</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <button type="button" class="btn btn-success add-cart-shopping-brand-intel">Adicionar ao Carrinho</button>
                </div>
            </div>

            
            <div class="card bg-light mb-3 card-main-brand-intel">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-intel">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-intel">
                        <div>19%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-intel-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-intel">
                    <img class="image-brand-intel-list" src="./img/buy-brand/04-intel/product's/09-cooler-para-processador-redragon-tyr-120mm-led-red-intel-amd-cc-9104r_130354.jpg"
                        alt="Imagem da Placa Mãe">
                </div>
                <div class="description-promotion-brand-intel">
                    <h2 class="description-title-promotion-brand-intel">
                        Cooler para Processador Redragon Tyr, 120mm, LED Red, Intel-AMD, CC-9104R
                    </h2>

                    <div class="label-product-brand-intel">
                        <div class="mais-vendidas-intel">
                            1º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-intel">
                        <div class="product-new-price-intel">
                            <span>R$ 109,90</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <button type="button" class="btn btn-success add-cart-shopping-brand-intel">Adicionar ao Carrinho</button>
                </div>
            </div>

            <!-- Fim da div container -->
        </div>

        <%- include("./partials/footer") %>