<%- include("./partials/head") %>
    <%- include("./partials/header") %>

        <!-- Imagem do card - Produto a ser apresentado -->

        <div class="card card-brand-banner">
            <img class="card-img-bottom card-image-brand"
                src="https://img.terabyteshop.com.br/fabricantes/amd/processador-amd-ryzen-5-5700x.jpg" alt="Imagem de capa do card">
        </div>

        <!-- Div container, detalhando o produto a ser apresentado -->
        <div class="container">
            <!-- Div contendo o logo da marca -->
            <div class="navbar navbar-light official-brand">
                <img src="https://img.terabyteshop.com.br/fabricantes/amd/amd-logo.jpg" alt="Imagem do logo da AMD">
                <!-- Div contendo o nome da marca -->
                <div class="sub-official-brand">AMD</div>
            </div>

            <!-- Divisão para trabalharmos com a responsividade do bootstrap -->
            <div class="row">
                <!-- Filtrar por preços -->
                <div class="filters-brand col-xs-12 col-sm-12 col-md-12">
                    <div class="filterbox dropdown">
                        <!-- Botões para ordenar os preços -->
                        <button id="btn-for-orderby" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fa fa-exchange fa-rotate-90 " aria-hidden="true"></span>
                            Ordenar por
                            <span class="arrow-buy"></span>
                        </button>
                        <div class="dropdown-menu dropdown-for-orderby" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/brand/amd" data-pg="1" data-order="preco_asc"
                                data-manufacturer="0">Menor Preço</a>
                            <a class="dropdown-item" href="/brand/amd" data-pg="1" data-order="preco_desc"
                                data-manufacturer="0">Maior Preço</a>
                        </div>
                    </div>

                    <!-- Fechamento da classe filters-brand -->
                </div>
            
                <!-- Fechamento da class row -->
            </div>

            <!-- Div do card do produto da marca específicada-->
            <div class="card bg-light mb-3 card-main-brand-amd">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-amd">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-amd">
                        <div>42%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-amd-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-amd">
                    <img class="image-brand-amd-list" src="https://img.terabyteshop.com.br/produto/g/processador-amd-ryzen-5-5600x-37ghz-46ghz-turbo-6-cores-12-threads-cooler-wraith-stealth-am4_139055.png" alt="Processador Amd">
                </div>
                <div class="description-promotion-brand-amd">
                    <h2 class="description-title-promotion-brand-amd">
                        Processador AMD Ryzen 5 5600X 3.7GHz (4.6GHz Turbo), 6-Cores 12-Threads, Cooler Wraith Stealth,
                        AM4, 100-
                    </h2>

                    <div class="label-product-brand-amd">
                        <div class="mais-vendidas">
                            1º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-amd">
                        <div class="product-new-price">
                            <span>R$ 1.289,00</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <a href="cart-shopping"><button type="button" class="btn btn-success add-cart-shopping-brand-amd">Adicionar ao Carrinho</button></a>
                </div>
            </div>

            <div class="card bg-light mb-3 card-main-brand-amd">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-amd">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-amd">
                        <div>30%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-amd-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-amd">
                    <img class="image-brand-amd-list" src="https://img.terabyteshop.com.br/produto/g/placa-mae-biostar-b550mxe-pro-chipset-b550-amd-am4-matx-ddr4_138264.jpg" alt="Placa mãe">
                </div>
                <div class="description-promotion-brand-amd">
                    <h2 class="description-title-promotion-brand-amd">
                        Placa Mãe Asus Prime B450M Gaming II, Chipset B450, AMD AM4, mATX, DDR4, 90MB17W0-C1BAY0
                    </h2>

                    <div class="label-product-brand-amd">
                        <div class="mais-vendidas">
                            2º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-amd">
                        <div class="product-new-price">
                            <span>R$ 579,00</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <a href="cart-shopping"><button type="button" class="btn btn-success add-cart-shopping-brand-amd">Adicionar ao Carrinho</button></a>
                </div>
            </div>

            <div class="card bg-light mb-3 card-main-brand-amd">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-amd">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-amd">
                        <div>30%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-amd-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-amd">
                    <img class="image-brand-amd-list" src="https://img.terabyteshop.com.br/produto/g/placa-de-video-asrock-challenger-itx-amd-radeon-rx-6400-4gb-gddr6-frs-ray-tracing-rx6400-cli-4g_141469.jpg" alt="Placa de vídeo">
                </div>
                <div class="description-promotion-brand-amd">
                    <h2 class="description-title-promotion-brand-amd">
                        Placa de Vídeo AsRock Challenger AMD Radeon RX 6400, ITX, 4GB, GDDR6, FRS, Ray Tracing, RX6400 CLI 4G
                    </h2>

                    <div class="label-product-brand-amd">
                        <div class="mais-vendidas">
                            3º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-amd">
                        <div class="product-new-price">
                            <span>R$ 919,00</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <a href="cart-shopping"><button type="button" class="btn btn-success add-cart-shopping-brand-amd">Adicionar ao Carrinho</button></a>
                </div>
            </div>

            <div class="card bg-light mb-3 card-main-brand-amd">
                <!-- Na parte de título do card do produto da marca específicada-->
                <div class="card-header card-buy-header-amd">
                    <div class="col-md-4 col-xs-4 col-porcentage-buy-header-amd">
                        <div>30%</div>
                        <span>OFF</span>
                    </div>
                    <!-- div para ter a promoçao apresentando em cima do cabeçalho -->
                    <div class="nopadding">
                        <!-- Div promoção -->
                        <div class="promotion-amd-00001">
                            Happy week
                        </div>
                    </div>
                </div>
                <div class="card-body card-body-brand-amd">
                    <img class="image-brand-amd-list" src="https://img.terabyteshop.com.br/produto/g/placa-mae-gigabyte-ga-a320m-s2h-ddr4-am4_53707.jpg" alt="Placa mãe">
                </div>
                <div class="description-promotion-brand-amd">
                    <h2 class="description-title-promotion-brand-amd">
                        Cooler para Processador Gamdias Boreas E1-410 LITE, RGB, 120mm, Intel-AMD
                    </h2>

                    <div class="label-product-brand-amd">
                        <div class="mais-vendidas">
                            4º Mais vendido
                        </div>
                    </div>

                    <div class="item-info-product-brand-amd">
                        <div class="product-new-price">
                            <span>R$ 919,00</span>
                            <small> à vista </small>
                        </div>

                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <a href="cart-shopping"><button type="button" class="btn btn-success add-cart-shopping-brand-amd">Adicionar ao Carrinho</button></a>
                </div>
            </div>

            <!-- Fim da div container -->
        </div>

        <%- include("./partials/footer") %>