<%- include("./partials/head")  %> 
<%- include("./partials/header-adm")  %> 

<main class="container-adm">
  <h1>Bem-vindo ao painel administrativo</h1>
</main>

<%- include("./partials/footer")  %> 