<%- include("./partials/head")  %> 
<%- include("./partials/header-adm")  %> 

<main class="containerAdm">
  <h1 class="title-welcome-home-adm">Bem-vindo ao painel administrativo</h1>
</main>

<%- include("./partials/footer")  %> 