<%- include("./partials/head")  %> 
<%- include("./partials/header") %>

<main>
    </section>
        <section id="banner">
            <img class="amd" src="./img/3.png" />
            <img class="hyperx" src="./img/marca 1.png" />
            <img class="red" src="./img/Wallpaper Redragon - BL Grey.png" />
        </section>
        <section id="container home">
            <div class="branco"></div>
    </section>
</main>

<%- include("./partials/footer") %>