<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/not-found/styles.css">
    <title>Error</title>
</head>

<body>
    <main>
        <div>
            <h1>Página não encontrada!!!</h1>
            <img class="not-found"src="/img/error404.jpg" alt="error 404">
        </div>
    </main>
</body>

</html>