<%- include("./partials/head") %>
  <%- include("./partials/header-adm") %>

    <main id="main-product-adm-edit">
      <div class="container">
        <h1 class="update-title-product-adm">Adicionar produto</h1>
        <% if(locals.error) { %>
          <h2 class="alert-error-product-adm">
            <%= error.message %>
          </h2>
          <% } %>
            <form action="/product-adm/product-create" method="POST">
              <input class="form-control" type="text" name="name" placeholder="Name">
              <input class="form-control" type="text" name="category"
                placeholder="Categoria">
              <input class="form-control" type="text" name="brand" placeholder="Marca">
              <input class="form-control" type="number" name="price" placeholder="Preço">
              <input class="form-control" type="number" name="inventory"
                placeholder="Estoque">
              <input class="form-control" type="number" name="available"
                placeholder="Disponível">
              <input class="form-control" type="text" name="urlImage"
                placeholder="URL da imagem">

              <button type="submit" class="btn btn-success button-update-product-adm">Adicionar</button>
            </form>
      </div>
    </main>

    <%- include("./partials/footer") %>