<%- include("./partials/head") %>
<%- include("./partials/header-adm") %>

<main>
  <h1>Adicionar produto</h1>
  <% if(locals.error) { %>
    <h2><%= error.message %> </h2>
  <% } %>
  <form action="/product-adm/product-create" method="POST">
    <input type="text" name="modelo" placeholder="Modelo">
    <input type="text" name="marca" placeholder="Marca">
    <input type="text" name="categoria" placeholder="Categoria">
    <input type="number" name="estoque" placeholder="Estoque">
    <button type="submit">Adicionar</button>
  </form>
</main>

<%- include("./partials/footer") %>