<%- include("./partials/head")  %> 
<%- include("./partials/header") %>

    <div class="div-title">
        <h1>Cadastro de Produtos</h1>
    </div>
    <div class="div-top">
        <div class="div-search">
            <input type="text" id="txt-search" placeholder="Buscar Produto..." />
        </div>
        <div class="div-result-page">
            <label for="result-page" id="txt-result-page">Resultado por Página</label>
            <select name="result-page" id="result-page">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
    <main>
        <button type="button" class="button new" id="buttonNew">Novo Produto</button>
        <table class="records">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Estoque</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cloud Stinger, Drivers 50mm, Múltiplas Plataformas, P2 e P3</td>
                    <td>HyperX</td>
                    <td>Headset Gamer</td>
                    <td>30</td>
                    <td>
                        <!-- <button type="button" class="button view">Visualizar</button> -->
                        <button type="button" class="button green">Editar</button>
                        <button type="button" class="button red">Excluir</button>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>AMD Radeon RX 550, 4GB, Preto</td>
                    <td>Duex </td>
                    <td>Placa de Vídeo</td>
                    <td>12</td>
                    <td>
                        <!-- <button type="button" class="button view">Visualizar</button> -->
                        <button type="button" class="button green">Editar</button>
                        <button type="button" class="button red">Excluir</button>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Redragon Cobra, Chroma RGB, 12400DPI, 7 Botões, Preto</td>
                    <td>Redragon</td>
                    <td>Mouse Gamer</td>
                    <td>21</td>
                    <td>
                        <!-- <button type="button" class="button view">Visualizar</button> -->
                        <button type="button" class="button green">Editar</button>
                        <button type="button" class="button red">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="popup" id="popup">
            <div class="popup-info-product">
                <header>
                    <h2 class="popup-title">Novo Produto</h2>
                    <span class="popup-close" id="closePopup">&#10006;</span>
                </header>
                <form class="popup-form">
                    <label for="category"></label>
                    <input type="text" class="popup-field" placeholder="Categoria do Produto">
                    <label for="brand"></label>
                    <input type="text" class="popup-field" placeholder="Marca do Produto">
                    <label for="model"></label>
                    <input type="text" class="popup-field" placeholder="Modelo do Produto">
                    <label for="inventory"></label>
                    <input type="text" class="popup-field" placeholder="Estoque do Produto">
                </form>
                <footer class="popup-footer">
                    <button class="button red">Cancelar</button>
                    <button class="button green">Salvar</button>
                </footer>
            </div>
        </div>
    </main>

<%- include("./partials/footer") %>