<%- include("./partials/head") %>
    <%- include("./partials/header") %>

        <div class="main-user-registration">
            <div class="right-user-registration">
                <div class="card-user-registration">
                    <h1 class="title-2">Cadastro</h1>
                    <form action="#" method="POST">
                        <div class="textfield">
                            <label class="label-1" for="nomecompleto">Nome Completo</label>
                            <input id="nomecompleto" class="input-1" type="text" name="nomecompleto"
                                placeholder="Digite ai!" required />
                        </div>
                        <div class="textfield">
                            <label class="label-1" for="nomeUsuario">Usuário</label>
                            <input id="nomeUsuario" class="input-1" type="text" name="nomeUsuario"
                                placeholder="Nick name" required />
                        </div>
                        <div class="textfield">
                            <label class="label-1" for="email">E-mail</label>
                            <input id="email" class="input-1" type="email" name="email"
                                placeholder="Informe o seu melhor e-mail" required />
                        </div>
                        <div class="textfield">
                            <label class="label-2" for="senha">Senha</label>
                            <input id="senha" class="input-2" type="password" name="senha"
                                placeholder="Digite sua Senha...">
                        </div>
                        <div class="flex-check">
                        <input id="termosUso" name="checkbox" type="checkbox" class="checkbox" required>
                        <label class="flex-label"for="termosUso" for="checkbox">Concordo com os <a class ="termos" href="#">termos de uso</a></label>
                    </div>
                        <button class="button-user-registration">Realizar Cadastro</button>

                        <a class=link href="./registration">
                            <p class="midia-registration">Se preferir, entre com sua rede social!</p>
                            <img class="facebook-registration" src="img/facebook-logotipo.png" alt="facebook">
                        </a>
                    </form>
                </div>
            </div>
        </div>

        <%- include("./partials/footer") %>