<%- include("./partials/head") %>
  <%- include("./partials/header") %>

    <div class="main-user-registration">
      <div class="right-user-registration">
        <div class="card-user-registration">
          <h1 class="title-2">Cadastro</h1>
          <% if (locals.error) { %>
            <h2><%= error.message %> </h2>
          <% } %>
          <form action="/registration" method="POST">
            <div class="textfield">
              <label class="label-1" for="nome">Nome completo</label>
              <input class="input-1" type="text" name="nome" placeholder="Nome completo..."
                required />
            </div>
            <div class="textfield">
              <label class="label-1" for="usuario">Usuário</label>
              <input class="input-1" type="text" name="usuario" placeholder="Nome de usuário..."
                required />
            </div>
            <div class="textfield">
              <label class="label-1" for="email">E-mail</label>
              <input class="input-1" type="email" name="email" placeholder="seu@email.com"
                required />
            </div>
            <div class="textfield">
              <label class="label-2" for="senha">Senha</label>
              <input class="input-2" type="password" name="senha" placeholder="Digite a senha...">
            </div>
            <div class="textfield">
              <label class="label-2" for="confirmar_senha">Confirmar senha</label>
              <input class="input-2" type="password" name="confirmar_senha" placeholder="Digite sua senha novamente...">
            </div>

            <input name="checkbox" type="checkbox" class="checkbox" required>
            <label for="termosUso" for="checkbox">Concordo com os <a href="#">termos de uso</a></label>
            <button class="button-user-registration" type="submit">Realizar Cadastro</button>
          </form>
        </div>
      </div>
    </div>

    <%- include("./partials/footer") %>