<%- include("./partials/head")  %>
<%- include("./partials/header-adm")  %>

<main id="main-product-adm-new-success">
  <h2 class="alert-success-product-adm"><%= message %> </h2>
</main>

<%- include("./partials/footer")  %>