<%- include("./partials/head") %>
<%- include("./partials/header") %>

<body id="user-data">
  <div class="container user-data-container">
    <div class="container rounded mt-5 mb-5 background-container-user-data">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                        class="rounded-circle mt-5" width="150px"
                        src="https://i.pravatar.cc/300?img=49"><span class="font-weight-bold color-gray">Maria
                        Eduarda</span>
                            <span class="text-black-50 email-user-data">maria.eduaroda@email.com.br</span>
                    </span></div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right color-gray">Configurações do Perfil</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels color-gray">Nome</label>
                            <input type="text" class="form-control input-user" placeholder="Nome" value="">
                        </div>
                        <div class="col-md-6"><label class="labels color-gray">Sobrenome</label>
                            <input type="text" class="form-control input-user" value="" placeholder="Sobrenome">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels color-gray">Número do celular</label>
                            <input type="number" class="form-control input-user" placeholder="Seu número de celular"
                                value="">
                        </div>
                        <div class="col-md-12"><label class="labels color-gray">Endereço</label>
                            <input type="text" class="form-control input-user" placeholder="Informe o seu endereço"
                                value="">
                        </div>
                        <div class="col-md-12"><label class="labels color-gray">Código Postal</label>
                            <input type="number" class="form-control input-user" placeholder="CEP" value="">
                        </div>
                        <div class="col-md-12"><label class="labels color-gray">Estado</label>
                            <input type="text" class="form-control input-user" placeholder="Ex. Salvador-BA" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels color-gray">Cidade</label>
                            <input type="text" class="form-control input-user" placeholder="Capim Grosso" value="">
                        </div>
                        <div class="col-md-6"><label class="labels color-gray">Estado/Região</label>
                            <input type="text" class="form-control input-user" value="" placeholder="Bahia">
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                            type="button">Salvar
                            Perfil</button></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>

<%- include("./partials/footer") %>