<%- include("./partials/head") %>
    <%- include("./partials/header") %>

        <body id="user-data">
            <div class="container user-data-container">
                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                    width="150px" src="https://i.pravatar.cc/300?img=49"><span class="font-weight-bold">Maria
                                    Eduarda</span><span class="text-black-50">maria.eduaroda@email.com.br</span><span>
                                </span></div>
                        </div>
                        <div class="col-md-8 border-right">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right">Configurações do Perfil</h4>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">Nome</label><input type="text" class="form-control"
                                            placeholder="Nome" value=""></div>
                                    <div class="col-md-6"><label class="labels">Sobrenome</label><input type="text" class="form-control"
                                            value="" placeholder="Sobrenome"></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">Número do celular</label><input type="number"
                                            class="form-control" placeholder="Seu número de celular" value=""></div>
                                    <div class="col-md-12"><label class="labels">Endereço</label><input type="text" class="form-control"
                                            placeholder="Informe o seu endereço" value=""></div>
                                    <div class="col-md-12"><label class="labels">Código Postal</label><input type="number"
                                            class="form-control" placeholder="CEP" value=""></div>
                                    <div class="col-md-12"><label class="labels">Estado</label><input type="text" class="form-control"
                                            placeholder="Ex. Salvador-BA" value=""></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6"><label class="labels">Cidade</label><input type="text" class="form-control"
                                            placeholder="Capim Grosso" value=""></div>
                                    <div class="col-md-6"><label class="labels">Estado/Região</label><input type="text"
                                            class="form-control" value="" placeholder="Bahia"></div>
                                </div>
                                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Salvar
                                        Perfil</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

        <%- include("./partials/footer") %>