<!-- Cabeçalho da página -->
<header id="headerFull">
<!-- Tag de navegação -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <!-- link para voltar para a página home do site -->
    <a class="navbar-brand" href="../">
        <!-- Imagem de logo do site -->
        <img class="brand-logo" src="/img/myBrands-logo.png" width="130" height="50"
            alt="MyBrand's Logo">
    </a>
    <!-- Botão com menu hambúrger (responsividade) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <!-- Traços do botão -->
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Div do menu de navegação -->
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <!-- Lista não ordenada - contendo os itens do menu -->
        <ul class="navbar-nav table-header">
            <!-- Menu dropdown - Comprar por departamento -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Compre por departamento
                </a>
                <div class="dropdown-menu dropdown-departament" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item item-departamento" href="#">Ação</a>
                    <a class="dropdown-item item-departamento" href="#">Outra ação</a>
                    <a class="dropdown-item item-departamento" href="#">Algo mais aqui</a>
                </div>
            </li>
            <!-- Menu dropdown - Páginas do site -->
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Páginas Desenvolvidas
                </a>
                <div class="dropdown-menu dropdown-departament" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item item-departamento" href="../product-detail">Produto</a>
                    <a class="dropdown-item item-departamento" href="../product-listing">Lista de Produtos</a>
                    <a class="dropdown-item item-departamento" href="../cart-shopping">Carrinho de Compras</a>
                    <a class="dropdown-item item-departamento" href="../login-adm">Login ADM</a>
                    <a class="dropdown-item item-departamento" href="../user-data">Página do usuário</a>
                    <a class="dropdown-item item-departamento" href="../product-adm">Cadastro de Produtos</a>
                </div>
            </li>
            <!-- formulário para incluir a busca na página -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Encontre o seu produto"
                    aria-label="Pesquisar">
                <button class="btn btn-outline-success my-2 my-sm-0 btn-search" type="submit">Pesquisar</button>
            </form> 
            <li class="nav-item">
                <a class="nav-link header-login" href="../login">Login</a>
            </li>
        </ul>
    </div>
</nav>
</header>
