<header id="headerAdm">
  <!-- Tag de navegação -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <!-- link para voltar para a página home do site -->
    <a class="navbar-brand" href="../">
      <!-- Imagem de logo do site -->
      <img class="brand-logo" src="/img/myBrands-logo.png" width="130" height="50" alt="MyBrand's Logo">
    </a>
    <!-- Botão com menu hambúrger (responsividade) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <!-- Traços do botão -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Div do menu de navegação -->
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav table-header">
        <li>
          <a class="link-adm" href="./home-adm">
            <h3 class="title-adm">Painel administrativo</h3>
          </a>
        </li>
        <% if (locals.user && locals.admin) { %>
          <li>
            <a class="link-adm" href="/product-adm">Adicionar Produtos</a>
          </li>
        <% } %>
        |
        <% if (locals.user) { %>  
        <!-- Menu dropdown - Página com detalhes da conta logada -->
        <form action="/logout" method="post">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <!-- Imagem de logo do site -->
              <img class="image-user-adm" src="https://i.pravatar.cc/300?img=9" width="50" height="50"
                alt="MyBrand's Logo">
            </a>
            <div class="dropdown-menu dropdown-departament" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item item-departamento" href="#">Editar perfil</a>
              <button type="submit">Sair</button>
            </div>
          </li>
        </form>
        <% }else {%>
          <li>
            <a class="link-adm" href="/login-adm">Login</a>
          </li>
        <% }%>
      </ul>
    </div>
  </nav>

</header>