<header class="header-adm">
    <div>
      <nav>
        <ul>
          <li><a href="home-adm">Pagina inicial</a></li>
          <li><a href="">Produtos</a></li>
          <li><a href="product-adm">Adicionar Produtos</a></li>
          <li><a href="login-adm">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>