.popup-new-product{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    /* opacity: 0; */
}
.popup-info-product{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 44vw;
    margin: 15vh auto;
    padding-bottom: 10px;
    background-color: #3E619B;
    box-shadow: 1px 1px 10px #42506B;
}
.popup-header{
    display: flex;
    justify-content: flex-end;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}
.popup-title{
    text-align: center;
    color: #EF4B4C;
    padding-top: 12px;
}
.popup-close{
    position: absolute;
    right: 0px;
    bottom: 35px;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #EF4B4C;
    user-select: none;
    cursor: pointer;
}
.popup-close:hover{
    background-color: #ef4b4bb2;
    color: #E9E9EB;
}
.popup-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}
.popup-field{
    width: 33%;
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px #42506B;
    padding: 0px 10px;
    font-size: 1rem;
}
.popup-field:focus{
    border: 2px solid #EF4B4C;
    box-shadow: 0 0 3px #42506B;

}
.popup-footer{
    background-color: #3E619B;
    text-align: right;
    padding: 0 20px;
}