/* Estilizando o rodapé - footler */
footer {
    padding: 30px 0 20px 0;
    color: #fff;
    text-align: center;
    width: 100%;
    background: #42506b;
    z-index: -9999999;
    bottom: 0;
    left: 0;
}
#logo-footer {
    width: 254px;
    height: 100px;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: normal;
}
.footer-color{
    color: #ffffff80;
}

footer .services-information {
    padding: 10px 0;
}
/* A cor do parágrafo contido dentro do */
#social-media-footer p{
    color: #fff;
    max-width: 1200px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
/*Estilizando o ID social-media-footer*/
#social-media-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    word-spacing: 2px;
    text-transform: capitalize;
}
/* Estilizando os itens da classe social, centralizando, diranto o estilo padrão */
.midias-sociais {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}
/* Na classe midias-sociais e nas listas, margem de 0 superior e inferior 0 e nas laterais em 10px */
.midias-sociais li {
    margin: 0 10px;
}
/* Estilizando os links contidos dentro da classe a */
.midias-sociais a{
    text-decoration: none;
    color: #fff;
}
/* As fontes e a transição nos links dentro dos links, com tamanho de 1.1rem e com transição suave de .1s */
.midias-sociais a i {
    font-size: 1.1rem;
    transition: color .1s ease;
}
/* Cor ao passar o mouse sobre o link contido na classe midias-sociais */
.midias-sociais a:hover{
    color: #3E619B;
}

